body, html {
    width:100%;
    height:100%;
    margin:0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

:root {
    --background-gradient-color:yellow;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin:0;
}

.background_flow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: -1;
    /* filter: blur(5px); */
    background: linear-gradient(90deg,var(--background-gradient-color),transparent 25%,transparent 75%, var(--background-gradient-color));
}

.background_flow article svg {
    opacity: 0.3;
    position: absolute;
    width: 48vw;
    right: 0;
}

.right_flow, .left_flow {
    height: 100vh;
    width: 7%;
    position: absolute;
}

.left_flow {
    left: 0;
    transform: rotate(180deg);
}

.right_flow {
    right:0;
}

.left_flow svg {
    fill: deepskyblue;
}

.right_flow svg {
    fill: #F15A29;
}



.background_flow article svg:nth-child(1) {
    animation: move_flow2 10s ease-in-out infinite alternate;
}

.background_flow article svg:nth-child(2) {
    animation: move_flow1 30s ease-in-out infinite alternate-reverse;
}

.background_flow article svg:nth-child(3) {
    animation: move_flow2 20s ease-in-out infinite alternate-reverse;
}

.background_flow article svg:nth-child(4) {
    animation: move_flow1 15s ease-in-out infinite alternate;
}

.background_flow article svg:nth-child(5) {
    animation: move_flow2 30s ease-in-out infinite alternate;
}

.background_flow article svg:nth-child(6) {
    animation: move_flow1 10s ease-in-out infinite alternate-reverse;
}

.background_flow article svg:nth-child(7) {
    animation: move_flow2 20s ease-in-out infinite alternate;
}

.background_flow article svg:nth-child(8) {
    animation: move_flow1 30s ease-in-out infinite alternate-reverse;
}

@keyframes move_flow1 {
    0% {
        transform: translateY(0%)
    }
    
    100% {
        transform: translateY(100%)
    }
}

@keyframes move_flow2 {
    0% {
        transform: translateY(0%)
    }
    
    100% {
        transform: translateY(-50%)
    }
}

.first_part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.smartphone1 {
    
}

.smartphone1 {
    display: none;
}

.icons {
    width: 85%;
    position: absolute;
    height: 16vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 53%;
    transform: translateY(-50%);
    flex-flow: row wrap;
}

.info_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    position: relative;
    margin: 5vh 0;
}

.logo {
    width: 50%;
    margin-bottom: 10vh;
}

.info_container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    width: 50vh;
    height: 55vw;
    background: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,0.5));
}


.info_container > div h1 {
    width: 62vw;
    text-align: center;
    font-weight: 300;
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    font-size: 7vw;
}

.info_container > div h1 span {
    display: block;
    color:orangered;
    font-weight: 400;
}

.info_container > div img {
    object-fit: contain;
}

.icons img {
    width: 25%;
    height: 9vw;
}
.info_container > div a {
    background: orangered;
    border: none;
    height: 11vw;
    font-size: 4.5vw;
    color: white;
    line-height: 11vw;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s ease;
    text-decoration: none;
    text-align: center;
}

.info_container > div a:hover {
    background:#111;
}

.smartphone2 {
    width: 68.2%;
}


































@media (min-width:80vh) {
    .info_container {
        width: 62%;
        margin: 12vh 0;
    }
    
    .icons img {
        height: 6vh;
    }
    
    .info_container > div h1 {
        font-size: 5vh;
    }
    
    .info_container > div {
        height: 38.2vh;
        width: 61.8vh;
    }
    
    .logo {
        width: 23.6vh;
    }
    
    .info_container > div a {
        height: 7vh;
        font-size: 3.5vh;
        color: white;
        line-height: 7.5vh;
    }
    
    .smartphone1 {
        display: inherit;
    }
    
    .first_part {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    
    .first_part > img {
        width: 22vw;
        margin: 0 3vw;
    }
    
    .background_flow article svg {
        width: 25vw;
    }
}































/* === CARROSSEL === */

#section-2{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
} 

#carrossel{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}


.seta{
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
    opacity: 0.4;
    transition: ease-in-out 0.4s;
}

.seta#esquerda{
    left: 10%;
    position: absolute;
}

.seta#direita {
    left: 90%;
    position: absolute;
}

.seta img{
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
}

.quadro{
    width: 65vw;;
    height:45vh; 
    margin: 10px;
    background-color: #e8ebef;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    position: absolute;    
}

.img-carrossel{
    width: 35vw;
    height: 28vh;
    margin: 10px;
    border-radius: 50%;
}

.carrossel-p{
    color: #000000;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.quadro.dois, .quadro.tres, .quadro.quatro, .quadro.cinco{
    display: flex;
    opacity: 0;
}

.quadro.um{
    display: flex;
    opacity: 1;
}

@media(min-width: 600px){
    #carrossel{
        width: calc(45*5vw);
        height: 40vh;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    }
    .quadro.um, .quadro.dois, .quadro.tres {
        opacity: 1;
        width: 25vw;    
        height: 40vh;
    }
    
    .quadro.quatro, .quadro.cinco{
        opacity: 0;
        width: 25vw;
        height: 40vh;
        
    }
    .img-carrossel{
        width: 20vw;
        height: 25vh;
        margin: 10px;
        border-radius: 50%;
    }
    .seta#esquerda{
        left: 3%;
        position: absolute;
    }
    
    .seta#direita {
        left: 97%;
        position: absolute;
    }
    
    
}

@media(min-width: 10px){
    
     @keyframes girar {
        0% { transform: translateX(0)}
        100% { transform: translateX(-2500px)}
   }  
    
    #carrossel{
        width: 770px;
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        overflow: hidden;
        opacity: 1;
        
    }

   /* #carrossel::before {
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        content: "";
        height: 500px;
        position: absolute;
        width: 100px;
        z-index: 2;
        left: 0;
        top: 0;
    }
    
    #carrossel::after {
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        content: "";
        height: 500px;
        position: absolute;
        width: 100px;
        z-index: 2;
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }
*/
    
    .carrossel-container{
        width: 2000000px;
        height:450px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: girar 30s linear infinite;
        /* will-change: transform;
        transform: translate3d(-25000px, 0, 0); */
        
    }
    .quadro{
        margin: 20px;
        opacity: 1;
        background-color: #e8ebef;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        position: relative;
        transition: ease-in-out .6s;
    }
    .quadro.um, .quadro.dois, .quadro.tres, .quadro.quatro, .quadro.cinco {
        opacity: 1;
        width: 200px;    
        height: 300px;
    }
    
    .img-carrossel{
        margin: 10px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        opacity: 1;
        overflow: hidden;   
    }
    .carrossel-p{
        overflow: hidden;
    }
    
    .quadro:hover{
        background-color: rgb(255, 254, 254);
        width: 240px;
        height: 340px;
        box-shadow: 5px 5px 50px 5px rgb(174, 203, 216);
        
    }
    .carrossel-container:hover{
        -webkit-animation-play-state:paused;
        -moz-animation-play-state:paused;
        -o-animation-play-state:paused;
        animation-play-state:paused;
        
    }
    
    .seta#esquerda, .seta#direita{
        display: none;
    }
}

@media(min-width: 11px){
    #carrossel {
    width: 100vw;
    height: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 3vh 0 3vh 0;
   }



}

@media(min-width: 500px){
#carrossel {
    width: 46vw;
    height: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 3vh 0 3vh 0;
}

 #carrossel::before {
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        content: "";
        height: 500px;
        position: absolute;
        width: 100px;
        z-index: 2;
        left: 0;
        top: 0;
    }
    
    #carrossel::after {
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        content: "";
        height: 500px;
        position: absolute;
        width: 100px;
        z-index: 2;
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }
}

































/* === SECTION DA STEPHANIE === */


.section3{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5vh;
}

.video-app{
    width: 86vw;
    height: 48vw;
    margin-top: 2vw;
}

.botao-testedemo{
    width: 86vw;
    height: 10vw;
    border-radius: 0 0 10px 10px;
    background-color: orangered;
    color: white;
    border: none;
    font-size: 16pt;
    background: linear-gradient(30deg, orangered, darkorange);
    cursor: pointer;
    box-shadow: 0 8px darkorange;
}


@media(min-width: 500px){
    .botao-testedemo {
        width: 61.8vw;
        height: 6vw;
    }
    
    .video-app{
        width: 61.8vw;
        height: 34vw;
        margin-top: 2vw;
    }
}

@media(min-width: 1050px){
    .botao-testedemo {
        width: 45vw;
        height: 8vh;
    }
    .video-app {
        width: 45vw;
        height: 26vw;
    }
}





::-webkit-scrollbar {
    width: 2px;
}

-moz-scrollbar-track {
    width:2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

-moz-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: orangered;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: white;
}





























/* 
@media (min-width: 150vh) {
    .right_flow {
        display: none;
    }
    
    .smartphone2 {
        display: none;
    }
    
    .info_container {
        position: absolute;
        right: 10vw;
    }
    
    .background_flow article svg {
        width: 61.8vw;
    }
    
    .info_container > div {
        width: 36vw;
    }
    
    .info_container > div button {
        background: orangered;
        border: none;
        height: 30%;
        font-size: 4vw;
        line-height: 9vh;
    }
    
    .info_container h1 {
        font-size: calc(2vh + 1.5vw);
    }
    
    .smartphone1 {
        height: calc(50vh + 15vw);
    }
} */